/* This file is for your main application css. */

.heading {
  font-size: 70px;
  font-family: 'Monoton', cursive;
}

.heading:hover a {
  text-decoration: none;
}

/* Layout styles */
.alert:empty { display: none; }

.search-nav-item {
  margin-bottom: 20px;
}
.form-inline .form-group .search {
  width: 500px;
}

.image-grid {
  margin-left: -15px;
}
.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; 
  padding-left: 15px;
}
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.33333%; }
.size-1of4 { width: 25%; }

/* Override selectize padding */
.selectize-control.multi .selectize-input > div {
  padding-left: 6px;
  padding-right: 6px;
  background-color: #428bca;
  border-color: #2e6da4;
  color: #fff;
}
.selectize-control.multi .selectize-input > div.active {
  background-color: #204d74;
}
.selectize-control.multi .selectize-input > div .remove:hover {
  background-color: #286090;
}

.selectize-input {
  padding: 10px 15px;
  min-height: 45px;
  line-height: 1.42857143 !important;
}
.selectize-control.multi .selectize-input.has-items {
  padding-top: 10px;
  padding-bottom: 8px;
}
.selectize-input.focus {
  box-shadow: none;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  border-left-color: #6FA1CD;
}

.grid-item {
  overflow:hidden;
}

.grid-item-image {
  visibility: hidden;
  position: relative;
  margin-bottom: 15px;
}
.column .grid-item {
  visibility: visible;
}
.image-grid > .grid-item {
  width: 100px;
}
.grid-item-image img {
  width: 100%;
}
.grid-item-image .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}
.grid-item-image:hover .actions {
  opacity: 1;
}
.tags {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
  font-weight: bold;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.grid-item-image:hover .tags {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.tags .tag {
  margin-left: 8px;
}
.tags .tag a {
  color: inherit;
}
.tags .tag:before {
  content: "#"
}
.grid-item-image .tooltip.top {
  top: 15px !important;
}

form.link {
  display: inline;
}
.animated {
  opacity: 0;
}

/** Static gif handling */
.static-gif-container {
  position: relative;
}
.static-gif-image {
  visibility: hidden;
  transition: visibility 0.3s;
  opacity: 1;
}
.static-gif-canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s
}
.static-gif-container:hover .static-gif-image {
  visibility: visible;
  transition: visibility 0s;
}
.static-gif-container:hover .static-gif-canvas {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, visibility 0s;
}

/* App-specific static gif override behavior */
.static-gif-container,
.static-gif-image,
.static-gif-canvas {
  width: 100%;
}
/* Override hover trigger element for static images */
.grid-item-image:hover .static-gif-image {
  visibility: visible;
  transition: visibility 0s;
}
.grid-item-image:hover .static-gif-canvas {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, visibility 0s;
}

.option-menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.dropdown-menu > li > .link > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ebebeb;
  white-space: nowrap;
}
.dropdown-menu > li > .link > a:hover, 
.dropdown-menu > li > .link > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #375a7f;
}
.dropdown-menu-icon {
  padding-top: 0;
  padding-bottom: 0;
  min-width: 50px;
  overflow: hidden;
}