<%= render Giftrap.ImageView, "_search_header.html", conn: @conn %>

<div class="image-grid">
<%= for image <- @images do %>
  <%= render Giftrap.ImageView, "_grid_image.html", conn: @conn, image: image %>
<% end %>
</div>