<h2>Show image</h2>

<ul class="list-unstyled">
  <li>
    <%= tag :img, src: @image.url %>
  </li>
  <li>
    <%= @image.url %>
  </li>

  <li>
    <%= for tag <- @image.tags do %>
      <span class="tag label label-primary"><%= tag %></span>
    <% end %>
  </li>

</ul>

<%= link "Edit", to: image_path(@conn, :edit, @image) %>
<%= link "Back", to: image_path(@conn, :index) %>
